.AdminTasks {
  .content {
    width: 40%;
    min-width: 350px;
    text-align: center;

    .top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }
  }
}
