.AdminUsers {
  .content {
    width: 40%;
    min-width: 350px;
    text-align: center;

    .top {
      display: flex;
      justify-content: space-between;
      padding: 0 10px 20px 10px;
    }
  }
}
