.User {
  position: relative;
  margin-bottom: 20px;
  background: #ddd;

  .title,
  .body2 {
    text-align: left;
  }

  .title {
    font-weight: bold;
  }

  .butttons {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
      cursor: pointer;
      background: transparent;
      border: none;
    }
  }
}
